@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}
header{
	top: 0; left: 0;
	width: 100%;
	transition: all .3s ease;
	padding: 15px;
	background-color: #1E90FF;
	color:#fff;
}
header a{
	color:#fff;
}
header>div>div>h1{
	font-size: 120%;
}
header>div>div{
	font-size: 90%;
}
#header.out {
	transform: translateY(-100%);
}
#logo>div{
	width:120px;
	height:90px;
}
#logo>div>a>img{
	width:120px;
	height:90px;
}

#element_1{
	background:linear-gradient( rgba(175, 175, 175, 0.6), rgba(0, 0, 0, 0.52) ), url(../images/kids.jpg);
	background-size: cover;
	height: 100vh;
	color:#fff;
	font-size: 29px;
	margin-top:90px;
	border-bottom-left-radius: 30px; 
	border-bottom-right-radius: 30px;
}
#element_1>div{
	margin-top: 5%;
	float:right;
	-webkit-filter: brightness(100%);
    filter: brightness(100%);
}
#element_1>.fadeInLeft{
	margin-top:20%;
}
#element_1>div>p{
	font-size: 1rem;
}
#element_2>div>div>p>strong{
	color:black;
}
#element_2{
	height: 100%;
	padding-top: 35px;
}
#element_2>div{
	text-align: center;
}
#element_2>div>div>p{
	color: #8b8b9a;
}
#element_2>div>div{
	text-align: left;
}
#element_2>.fadeInUp{
	padding-bottom: 35px;
}
#element_2>.bg-light{
	background-image: url('../images/light_bg.png');
	padding-top:25px;
	border-radius: 30px 30px 30px 30px;
}
#element_2>.bg-light>div>div,#element_2>.bg-light>.col-lg-12{
	padding-bottom: 15px;
}
#element_2>.bg-light>div>div>.col-lg-8{
	padding-left: 15px;
}
#element_2>.bg-light>div>div>.col-lg-4>img,#element_2>.bg-light>div>.col-lg-4>img{
	width:120px;
	height: 120px;
}
#element_2>.bg-light>div>div>.col-lg-8>p{
	font-size: 90%;
}
#carousel_1>.carousel-inner{
	border-radius: 30px 30px 30px 30px;
}
#carousel_1>.carousel-inner>.carousel-item{
	height:275px;
}
#carousel_1>.carousel-inner>.carousel-item>img{
	width:100%;
	height:100%;
}
#element_2>div>div>div>h2{
	font-size:180%;
}
#element_2>div>div>h2,#element_3>h2{
	text-align: center;
	font-size:180%;
}
#element_3{
	text-align: left;
	margin-top: 15px;
}
#element_3>h2{
	margin-bottom: 15px;
}
#element_3>.col-lg-10{
	background-image: url('../images/light_bg.png');
    border-radius: 30px 30px 30px 30px;
    padding: 35px;
}
#element_3>.container>div{
	margin-top:35px;
}
#element_3>.container>div>.col-xl-3{
	border: 1px solid rgb(0, 123, 255);
	border-radius: 30px 30px 30px 30px;
	text-align: center;
	padding: 15px;
}
#element_3>.container>div>.col-xl-3>h6{
	font-size:120%;
}
#element_3>.container>div>#program_1{
	margin-right:45px;
}
#element_3>.container>div>#program_3{
	margin-left:45px;
}
#element_3>.container>div>.col-xl-3:not(.active):before{
	border-radius: 30px 30px 30px 30px;
	position: absolute;
	content: '';
	width: 0%;
	height: 100%;
	background: #4A90E2;
	top: 0;
	left: auto;
	right: 0;
	z-index: -1;
	transition: all 700ms ease;
}
#element_3>.container>div>.col-xl-3:not(.active):hover{
	border-radius: 30px;
	color: white;
	box-shadow: none;
}
#element_3>.container>div>.col-xl-3:not(.active):hover:before{
	border-radius: 30px 30px 30px 30px;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #4A90E2;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
#element_3>.container>div>.active{
	background-color: rgb(0, 123, 255);
}
#element_3>.container>div>.active>h6{
	color:#fff;
}
#element_3>.container>#set_program_1,#element_3>.container>#set_program_2,#element_3>.container>#set_program_3{
	margin-top: 35px;
}


#element_4{
	text-align: center;
	background-image: url('../images/light_bg.png');
	padding-bottom: 35px;
	border-top-left-radius: 30px; 
	border-top-right-radius: 30px;
	margin-top:35px;
	padding-top: 35px;
}
#element_4>div{
	margin-top:15px;
}
#element_4>div>h3{
	text-align: left;
}
#element_4>div>ymaps{
	height:320px;
}
footer{
	padding-top: 25px;
	height: 100%;
	background-color: #1E90FF;
	color:#fff;
	border-top-left-radius: 30px; 
	border-top-right-radius: 30px;
}
footer>.col-12>.row>.col-8>div>a,footer>.col-12>.row>.col-4>a{
	color:#fff;
}
footer>.col-12>.row>.col-8>div>a:hover,footer>.col-12>.row>.col-4>a:hover{
	color: #FFA500;
}