@media (max-width: 575px){
	header>.col-12>.col-12{
		text-align: center;
		margin-top:15px;
	}
	#element_1{
		height:360px;
		margin-top: 0;
	}
	#element_1>div{
		margin-top: 50px;
	}
	#element_2>.bg-light>div>div>.col-lg-4>img,#element_2>.bg-light>div>.col-lg-4>img{
		float: left;
		margin-left:25%;
	}
}